<div class="view-heading">
  <div class="circle-container">
    <div class="circle-number">
      <h2><%= number %></h2>
    </div>
  </div>
  <div class="view-heading-text-container">
    <h2><%= title %></h2>
  </div>
</div> 